name: Publish Custom App

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-22.04

    steps:
      - name: Retrieving custom app configuration
        uses: actions/checkout@v3

      - name: Retrieving Kiwix Android source code
        run: git clone --depth=1 --single-branch --branch Issue#3290 https://github.com/kiwix/kiwix-android.git

      - name: Copying custom app configuration into Kiwix Android code base
        run: ./copy_files_to_kiwix_android.sh

      - name: Preparing signing material
        env:
          keystore: ${{ secrets.keystore }}
          playstore_json: ${{ secrets.PLAYSTORE_JSON }}
        run: |
          echo "$playstore_json" > kiwix-android/playstore.json
          echo "$keystore" | base64 -d > kiwix-android/kiwix-android.keystore

      - name: Set tag variable
        run: echo "TAG=$(echo ${GITHUB_REF:10})" >> $GITHUB_ENV

      - name: Publishing app to Google Play
        env:
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
        run: |
          cd kiwix-android
          eval "./gradlew publish${TAG^}ReleaseApkWithExpansionFile"
